/*Header is for all three pages*/
header {
	background-color: #ffffff;
	border-bottom: 2px solid #cccccc;
	margin-bottom: 30px;
}
.container{
	max-width: 960px;
}
h1{
	color: #ffffff;
	display: inline-block;
	background-color:#4aaaa5;
	height: 70px;
	margin: 0;
	width: 250px;
	text-align: center;
	line-height: 3;
	position: relative;
	right: -60px;
	font-size: 25px;
}
#line5 {
	border: 1px solid #cccccc;
	width: 200px;
	left: 35px;
	position: relative;
}

#line7 {
	border: 1px solid #cccccc;
	width: 550px;
	left: 50px;
	position: relative;

}

.me {
	color: #4aaaa5;
	position: relative;
	right: -20px;
	bottom: -10px;
	width: 650px;
	font-family: Georgia, Arial, sans-serif;
	font-size: 22px;
}

#cwm {
	color: #4aaaa5;
    position: relative;
    left: 55px;
    font-size: 22px;
    font-family: Georgia, Arial, sans-serif;

}
/*UL and LI are for all 3 pages*/
ul {
	display: inline-block;
	list-style-type:none;
	float: right;
	line-height: 4;
	position: relative;
	left: -20px;
}

li {
	display: inline-block;
	font-size: 14px;
	color: #777777;
	position: relative;
	left: -50px;

}

#img1 {
	margin:0;
	padding:10px;
	width: 100px;
	float: left;

}
a {
    text-decoration: none;
    color: #777777;
}

#about {
	border-right: 1px solid;
	padding-right: 10px;
}

#port {
	border-right: 1px solid;
	padding-right: 10px;
	padding-left:10px;
}

#cont {
padding-left: 10px;

}

body {
	margin: 0;
	padding: 0;
	width: 960px;
	height: 960px;
}
p {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	margin: 0px;
	padding: 10px;

}
.aboutme {
	width: 650px;
	background-color: #ffffff;
	height: 800px;
	border: 1px solid #cccccc;
	margin-left: 20px;
	float: left;
	margin-bottom: 30px;
	
}

#aside1 {
	background-color: #ffffff;
	width:270px;
	float: right;
	position: relative;
	height: 200px;
	border: 1px solid #cccccc;
}


/*Footer is for all 3 pages*/
footer {
	background-color: #666666;
	text-align: center;
	width: 100%;
	height: 90px;
	clear: both;
	border-top: 6px solid #4aaaa5;
	position: fixed;
	bottom:0;

}
#p2 {
	color: #FFFAFA;
	line-height: 80px;
}


.git, .in, .stack {
	width: 75px;
	position: relative;
	right: -15px;
}
/*Here on is page 2 specific stuff*/





.hangman {
	width: auto;
    height: auto;
    max-width: 250px;
    max-height: 250px;
    float:left;
}

.destiny{
	    width: auto;
    height: auto;
    max-width: 250px;
    max-height: 250px;
    float:left;
    position: relative;
    top: -70px;
}
.trivia {
	    width: auto;
    height: auto;
    max-width: 250px;
    max-height: 250px;
    float:left;
    position: relative;
    top: -70px;
}
.rutgers {
	    width: auto;
    height: auto;
    max-width: 250px;
    max-height: 250px;
    float:left;
    position: relative;
    top: -210px;
}
.rps {
	    width: auto;
    height: auto;
    max-width: 320px;
    max-height: 320px;
    float:left;
    position: relative;
    top: -300px;
}

.projects {
	width: 650px;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	position: relative;
	left: 10px;
	height: auto;
	float: left;
	margin-bottom: 30px;

}
.hangman, .destiny, .trivia, .rutgers, .rps{

	padding: 30px;


}

#hangman{
	position: relative;
color: #ffffff;
	display: inline-block;
	background-color:#4aaaa5;
	height: 70px;
	margin: 0;
	width: 250px;
	text-align: center;
	line-height: 3.5;
	left: -280px;
    bottom: -125px;
}

#rpg {
	position: relative;
    color: #ffffff;
    display: inline-block;
    background-color: #4aaaa5;
    height: 70px;
    margin: 0;
    width: 250px;
    text-align: center;
    line-height: 3.5;
    right: -30px;
    top: -145px;
}

#trivia {
	position: relative;
    color: #ffffff;
    display: inline-block;
    background-color: #4aaaa5;
    height: 70px;
    margin: 0;
    width: 250px;
    text-align: center;
    line-height: 3.5;
    right: 280px;
    top: -5px;
}

#rutgers {
	position: relative;
    color: #ffffff;
    display: inline-block;
    background-color: #4aaaa5;
    height: 70px;
    margin: 0;
    width: 250px;
    text-align: center;
    line-height: 3.5;
    top: -310px;
    right: -28px;
}

#rps {
	position: relative;
    color: #ffffff;
    display: inline-block;
    background-color: #4aaaa5;
    height: 70px;
    margin: 0;
    width: 252px;
    text-align: center;
    line-height: 3.5;
    left: -282px;
    top: -56px;
}

#port1 {
	right: -30px;
	color: #4aaaa5;
	position: relative;
	font-size: 22px;
	font-family: Georgia, Arial, sans-serif;
}

#line {
	margin: 0;
    border: 1px solid #cccccc;
    width: 500px;
    position: relative;
    left: 60px;
}

#cwm2 {
	color: #4aaaa5;
	position: relative;
	left: 60px;
	font-size: 22px;

}

#line2 {
		margin: 0;
    border: 1px solid #cccccc;
    width: 200px;
    left:30px;
    position: relative;
    font-family: Georgia, Arial, sans-serif;
	}

#aside2 {
	background-color: #ffffff;
    width: 270px;
    float: right;
    height: 200px;
    border: 1px solid #cccccc;
    position: relative;
    
}
/*page 3 here on.*/

#contact1 {
color: #4aaaa5;
position: relative;
right: -50px;
font-size: 22px;


}

#cwm3 {
color: #4aaaa5;
    position: relative;
    left: 55px;
    font-size: 22px;
    font-family: Georgia, Arial, sans-serif;

}

.main2 {
	width: 650px;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	position: relative;
	left: 10px;
	height: 800px;
	float: left;
	margin-bottom: 30px;


}
.input1, .input2,.textarea {
	border: 1px solid #cccccc;
	position: relative;
	padding: 10px;
	left: 30px;
}

.p2, .p3, .p4 {
position: relative;
left: 20px;

}

#submit {
	position: relative;
	left: 30px;
	background-color: #4aaaa5;
	color: #ffffff;
	width: 15%;
	height: 5%;
	
}

#line4 {
	border: 1px solid #cccccc;
	width: 500px;
	left: 70px;
	position: relative;
}

#aside3 {
	background-color: #ffffff;
    width: 270px;
    float: right;
    height: 200px;
    border: 1px solid #cccccc;
    position: relative;
    
}
#line6 {
	margin: 0;
    border: 1px solid #cccccc;
    width: 200px;
    left: 30px;
    position: relative;
}